.venv
.env
connection/__pycache__
controller/__pycache__
core/__pycache__
models/__pycache__
repository/__pycache__
schemas/__pycache__
services/__pycache__
assets/modelo/images/train
assets/modelo/images/val
assets/modelo/labels/train
assets/modelo/labels/val
assets/modelo/test_camera.py
core/validators.py
assets/modelo/weights/best.pt
assets/modelo/weights/yolov8m.pt
numerador.py